<div class="auth-container">

  <div class="roundtable-title">
    <h2>Welcome to RoundTable!</h2>
  </div>

  <div class="input-area">
    <h3 class="input-area-white-text">Sign In</h3>
    <form action="<%= session_url %>" method="post">
      <%= auth_token_input %>

      <div class="form-group">
        <label for="username" class="input-area-white-text">Username</label>
        <input id="username" type="text" name="user[username]" value="">
      </div>

      <div class="form-group">
        <label for="password" class="input-area-white-text">Password</label>
        <input id="password" type="password" name="user[password]" value="">
        </label>
      </div>

      <input type="submit" value="Sign In" class="universal-button">
      <br/>
      <br/>
      <a href="/users/new" class="universal-button input-area-button-link">Register</a>


    </form>

    </br>

    <form action="<%= session_url %>" method="post">
      <%= auth_token_input %>

      <input type="hidden" name="user[username]" value="guest">
      <input type="hidden" name="user[password]" value="guestpw">
      <button class="universal-button" type="submit">Demo User</button>
    </form>

  </div>


</div>
