/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.sticky-navbar {
  position: fixed;
}

.static-background {
  background-color: #e5f2ff;
};

.bg-image-mixin {
  background-image: url("http://previews.123rf.com/images/wolfelarry/wolfelarry1403/wolfelarry140300043/26332449-knife-on-cutting-board-isolated-on-white-background-Stock-Photo.jpg");
};

.input-area {
  text-align: center;
  color: white;
  border-radius: 6px;
  text: black;
}

.roundtable-title {
  margin-top: 100px;
  text-align: center;
  color: white;
}

.container-auth {
  background-image: url(table_top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 1px 1px black;
}

// div.speech-container{
//   width: 50%;
//   float: left;
//   margin-left: 10%;
//   border-left: 1px solid white;
//   padding-left: 3%;
// }

// Recipe form
.form-no-image {
  border: 1px solid black;
  margin: 2%;
}

.uploaded-form-image {
  margin: 2%;
}

// Recipe index and recipe index items:

.test {
  text-align: center;
}

.welcome-message-container {
  margin: 5% 0% 0% 0%;
  height: 489px;
  width: 750px;
  border-radius: 3px 10px;
  display: inline-block;
  border: 1px solid white;
  box-shadow: 1px 1px 1px #888888;
  // text-align: left;
}

.welcome-text {
  text-align: left;
  padding: 5% 0% 0% 5%;
  font-size: 150%;
  color: white;
  width: 60%;
  text-shadow: -1px 0 #888888, 0 1px #888888, 1px 0 #888888, 0 -1px #888888;
}

.recipe-index-items-container {
  overflow: auto;
  margin: 3% 0% 10% 0%;
  text-align: center;
}

.recipe-index-items-list {
  padding: 0%;
}

.add-recipe-link-text {
  font-size: 125%;
}

.recipe-index-item {
  position: relative;
  margin: 15px 20px;
  border: 1px solid white;
  box-shadow: 1px 1px 1px #888888;
  display: inline-block;
  height: 200px;
  width: 200px;
  padding: 5px 0px;
  border-radius: 3px 10px;
  overflow: hidden;
}

.recipe-index-item-label-text {
  border: 2px solid black;
  border-radius: 5px;
  padding: 0px 10px;
  display: inline-block;
  vertical-align: bottom;
  // position: relative;
  // top: 5%;
  background-color: white;
}

// Recipe detail:

.recipe-detail-container {
  width: 95%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  float: left;
  padding: 3%;
  border: 1px solid black;
}

.recipe-title {
  font-size: 150%;
  margin: 0% 0% 1% 0%
}

.recipe-author-info {
  font-size: 100%;
  margin: 0% 0% 8% 0%
}

.recipe-image {

}

.recipe-ingredients-label {
  font-size: 120%;
}

.recipe-ingredients {
  white-space: pre-wrap;
  font-size: 100%;
  margin: 1% 0% 1% 1%;
}

.recipe-steps-box {
  border: 1px solid black;
  width: 50%;
  margin: 0% 0% 5% 0%;
}

.recipe-steps {
  white-space: pre-wrap;
}

.recipe-index-link {
  border: 0px solid black;
  margin: 0% 0% 0% 0%;
}

// step detail (i.e. list of annotations)
.step-detail-box {
  color: black;
  font-size: 100%;
  float: top;
  position: relative;
  left: 110%;
  // top: 40%;
  bottom: 20%;
  width: 77.5%;
  border: 1px solid black;
  overflow: scroll;
  height: 300px;
}
