/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.sticky-navbar {
  position: fixed;
}

.static-background {
  background-color: #e5f2ff;
};

.bg-image-mixin {
  background-image: url("http://previews.123rf.com/images/wolfelarry/wolfelarry1403/wolfelarry140300043/26332449-knife-on-cutting-board-isolated-on-white-background-Stock-Photo.jpg");
};

.input-area {
  text-align: center;
  color: white;
  border-radius: 6px;
  text: black;
}

.roundtable-title {
  margin-top: 100px;
  text-align: center;
  color: white;
}

.container-auth {
  background-image: url(table_top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 1px 1px black;
}

// div.speech-container{
//   width: 50%;
//   float: left;
//   margin-left: 10%;
//   border-left: 1px solid white;
//   padding-left: 3%;
// }

// Recipe form
.form-no-image {
  border: 1px solid black;
  margin: 2%;
}

.uploaded-form-image {
  margin: 2%;
}

// Recipe index and recipe index items:

.test {
  text-align: center;
}

.welcome-message-container {
  margin: 5% 0% 0% 0%;
  // width: 100vw;
  height: 50vh;
  // width: 750px;
  // width: 100%;
  display: inline-block;
  border: 1px solid white;
  background-size: contain;
  // background-repeat: no-repeat;
  background: url(http://res.cloudinary.com/dz5btfj9w/image/upload/w_2000,h_746/kitchen_panorama_xo60sb.jpg) no-repeat center center;
  // text-align: left;
}

.roundtable-welcome-text {
  text-align: left;
  padding: 5% 0% 0% 15%;
  font-size: 24px;
  color: white;
}

.pithy-welcome-text {
  text-align: left;
  padding: 5% 0% 0% 5%;
  font-size: 54px;
  color: white;
  // text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

.roundtable-welcome-text {
  text-align: left;
  padding: 5% 0% 0% 5%;
  left: 0%;
  font-size: 32px;
  color: white;
  // text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

.welcome-list {
  list-style: none;
  position: relative;
  left: 0%;
  text-align: left;
  font-size: 24px;
  color: white;
  // text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

.welcome-list-item {
  margin: 2.5% 0% 0% 2.5%;
}

.hero {
  background: url("http://res.cloudinary.com/dz5btfj9w/image/upload/w_2000,h_746/kitchen_panorama_xo60sb.jpg") no-repeat center center;
  background-size: cover;
  height: 91vh;
  overflow: hidden;
  margin-top: 3%;
 }
  // .hero:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  //   opacity: .8; }
  // .hero .intro {
  //   padding: 3rem;
  //   position: relative;
  //   top: 50%;
  //   transform: translateY(-50%); }
  // .hero h1 {
  //   color: #fff;
  //   font-size: 1.5rem;
  //   line-height: 1.5em;
  //   letter-spacing: -0.025em;
  //   font-weight: 300;
  //   text-align: center; }
  // .hero p {
  //   color: #fff;
  //   line-height: 1.75em;
  //   font-weight: 200;
  //   text-align: center;
  //   margin-bottom: 2rem; }
  // .hero .tech-img {
  //   background: url("http://static.pexels.com/wp-content/uploads/2015/02/apple-hand-iphone-6-4322-525x350.jpg") no-repeat center center;
  //   background-size: cover;
  //   height: 9rem;
  //   width: 9rem;
  //   border-radius: 50%;
  //   display: block;
  //   margin: 0 auto; }
  // @media only screen and (min-width: 40.063em) {
  //   .hero .tech-img {
  //     height: 18rem;
  //     width: 18rem; }
  //   .hero h1 {
  //     padding-top: 4.5rem;
  //     text-align: right;
  //     font-size: 2.5rem; }
  //   .hero p {
  //     text-align: right; } }


.recipe-index-items-container {
  overflow: auto;
  margin: 3% 0% 10% 0%;
  text-align: center;
}

.recipe-index-items-list {
  padding: 0%;
}


.recipe-index-item {
  position: relative;
  margin: 15px 20px;
  border: 1px solid white;
  box-shadow: 1px 1px 1px #888888;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 1px solid white;
  padding: 5px 0px;
  // border-radius: 3px 10px;
  overflow: hidden;
}

.recipe-index-item-hover {
  position: relative;
  margin: 15px 20px;
  border: 1px solid white;
  box-shadow: 8px 8px 8px #888888;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  padding: 5px 0px;
  // border-radius: 3px 10px;
  overflow: hidden;
  cursor: pointer;
}

.recipe-index-item-label-text {
  border: 1px solid black;
  // border-radius: 2px 5px;
  padding: 0px 10px;
  margin: 3px;
  display: inline-block;
  background-color: #e5f2ff;
}

.add-recipe-link-text {
  font-size: 125%;
}

// Recipe detail:

.recipe-detail-container {
  width: 95%;
  margin-top: 50px;
  margin-right: 2.5%;
  margin-left: 2.5%;
  float: left;
  padding: 3%;
  border: 1px solid black;
}

.recipe-title {
  font-size: 250%;
  margin: 0% 0% 0% 0%;
  text-align: center;
}

.recipe-author-info {
  font-size: 100%;
  margin: 0% 0% 3% 0%;
  text-align: center;
}

.recipe-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  height: 35vh;
  border: 3px solid white;
  border-radius: 2px;
}

.recipe-ingredients-label {
  font-size: 120%;
}

.recipe-ingredients {
  white-space: pre-wrap;
  font-size: 100%;
  margin: 1% 0% 1% 1%;
}

.recipe-steps-box {
  border: 1px solid black;
  width: 50%;
  margin: 0% 0% 5% 0%;
}

.recipe-steps {
  white-space: pre-wrap;
}

.recipe-index-link {
  border: 0px solid black;
  margin: 0% 0% 0% 0%;
}

// step detail (i.e. list of annotations)
.step-annotations-box {
  position: absolute;
  color: black;
  font-size: 100%;
  border: 1px solid black;
  max-width: 40vw;
  // overflow: scroll;
  // height: 400px;
}

.hidden {
  display: none;
}

// recipe form
.recipe-form {
  text-align: center;
  position: relative;
  top: 50px;
}
