/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";



body {
  font-family: 'Merriweather', serif;
  background-color: #FAE3B1;
  color: #53301F;
}

a {
  color: #635732;
}

a:hover {

}

.navbar-background-color {
  background-color: #A64E31;
}

.navbar-default .navbar-brand {
    color: #FAE3B1;
}

.navbar-default .navbar-brand:hover {
    color: #FAE3B1;
}

.navbar-default .navbar-brand:visited {
    color: #FAE3B1;
}

.universal-button {
  background: #98a64b;
  background-image: -webkit-linear-gradient(top, #98a64b, #7A8443);
  background-image: -moz-linear-gradient(top, #98a64b, #7A8443);
  background-image: -ms-linear-gradient(top, #98a64b, #7A8443);
  background-image: -o-linear-gradient(top, #98a64b, #7A8443);
  background-image: linear-gradient(to bottom, #98a64b, #7A8443);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 13px;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
}

.universal-button:hover {
  background: #8a9644;
  background-image: -webkit-linear-gradient(top, #8a9644, #687039);
  background-image: -moz-linear-gradient(top, #8a9644, #687039);
  background-image: -ms-linear-gradient(top, #8a9644, #687039);
  background-image: -o-linear-gradient(top, #8a9644, #687039);
  background-image: linear-gradient(to bottom, #8a9644, #687039);
  text-decoration: none;
}
.universal-button:active {
	position:relative;
	top:1px;
}


// session and user create

.auth-container {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 667px;
  height: 436px;
  background-image: url(http://res.cloudinary.com/dz5btfj9w/image/upload/c_scale,w_667/v1451510411/cutting_board_bg_nc56nq.jpg);
  text-shadow: 1px 1px black;
  border-radius: 3px;
  // border: 1px solid white;
}

.input-area {
  position: relative;
  margin-top: 43px;
  left: 30px;
  text-align: left;
  // color: white;
  border-radius: 6px;
  // text: black;
}

.input-area-white-text {
  color: white;
}

.input-area-button-link {
}

.input-area-button-link:hover {
  text-decoration: none;
  color: white;
}

.roundtable-title {
  margin-top: 30px;
  text-align: left;
  position: relative;
  left: 30px;
  color: white;
}

// Recipe form
.form-no-image {
  border: 1px solid #53301F;
  margin: 2%;
}

.uploaded-form-image {
  margin: 2%;
}

// Recipe index and recipe index items:

.test {
  text-align: center;
}

.welcome-message-container {
  margin: 5% 0% 0% 0%;
  // width: 100vw;
  height: 50vh;
  // width: 750px;
  // width: 100%;
  display: inline-block;
  border: 1px solid white;
  background-size: contain;
  // background-repeat: no-repeat;
  background: url(http://res.cloudinary.com/dz5btfj9w/image/upload/w_2000,h_746/kitchen_panorama_xo60sb.jpg) no-repeat center center;
  // text-align: left;
  color: #FAE3B1;
}

.pithy-welcome-text {
  text-align: center;
  padding: 2.5% 0% 0% 0%;
  font-size: 48px;
  color: #FAE3B1;
  margin-bottom: 8%;
}

.welcome-list {
  list-style: none;
  position: relative;
  text-align: center;
  padding: 0px;
  font-size: 22px;
  color: #FAE3B1;
  margin-bottom: 10%;
}

.welcome-list-item {
  margin: 2.5% 0% 2.5% 0%;
  padding: 0%;
}

.hero {
  background: url("http://res.cloudinary.com/dz5btfj9w/image/upload/w_2089,h_797/spices_spoons_bg_ct08qp.jpg") no-repeat center center;
  background-size: cover;
  height: 91.5vh;
  min-height: 550px;
  overflow: hidden;
  margin-top: 3%;
 }

 .hero-transparent-text-div {
   display: inline-block;
   width: 70vw;
   border-radius: 5px;
   background: rgba(0, 0, 0, 0.5);
   min-height: 339px;
   min-width: 680px;
   padding-bottom: 2vh;
   padding-top: 2vh;
   margin-top: 10vh;
   margin-bottom: 10vh;
 }

 .hero-links {
   position: relative;
   font-size: 14px;
   top: 5%;
   color: #FAE3B1;
 }

.white-link {
  font-size: 110%;
  color: white;
  cursor: pointer;
  color: #FAE3B1;
}

.white-link:hover {
  color: white;
}


.recipe-index-items-container {
  overflow: auto;
  margin: 3% 0% 10% 0%;
  text-align: center;
}

.recipe-index-items-list {
  padding: 0%;
}


.recipe-index-item {
  position: relative;
  margin: 10px 10px;
  display: inline-block;
  vertical-align: bottom;
  height: 250px;
  width: 250px;
  padding: 0px 0px;
  overflow: hidden;
  border-radius: 3px;
}

.recipe-index-item-hover {
  position: relative;
  margin: 10px 10px;
  display: inline-block;
  vertical-align: bottom;
  height: 250px;
  width: 250px;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.recipe-index-item-title-label {
  width: 100%;
  color: #FAE3B1;
  background-color: #7A8443;
  font-size: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  background: rgba(42, 30, 19, 0.5);
}

.recipe-index-item-author-label {
  width: 100%;
  position: absolute;
  bottom: 0px;
  font-size: 12px;
  text-align: right;
  padding-right: 4.5px;
  color: #FAE3B1;
  background: rgba(42, 30, 19, 0.5);
  // background-color: #2A1E13;
}

.add-recipe-link-text {
  font-size: 125%;
}

// Recipe detail:

.recipe-detail-container {
  width: 95%;
  margin-top: 50px;
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-bottom: 2.5%;
  float: left;
  padding: 3%;
  // border: 1px solid black;
  border-radius: 3px;
}

.recipe-title {
  font-size: 250%;
  margin: 0% 0% 0% 0%;
  text-align: center;
}

.recipe-author-info {
  font-size: 100%;
  margin: 0% 0% 3% 0%;
  text-align: center;
}

.recipe-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  height: 35vh;
  border: 3px solid white;
  border-radius: 2px;
}

.recipe-detail-label {
  font-size: 120%;
  margin-bottom: 6px;
}

.recipe-ingredients-description {
  white-space: pre-wrap;
  width: 50%;
  font-size: 100%;
  margin: 1% 0% 1% 1%;
}

.recipe-steps-box {
  // border: 1px solid black;
  // border-radius: 3px;
  width: 50%;
  margin: 0% 0% 5% 0%;
}

.recipe-steps {
  white-space: pre-wrap;
}

.recipe-step {
}

.recipe-step:hover {
  cursor: pointer;
  text-decoration: underline;
}

.recipe-index-link {
  border: 0px #53301F;
  margin: 0% 0% 0% 0%;
  text-align: left;
}

// step detail (i.e. list of annotations)
.step-annotations-box {
  position: absolute;
  font-size: 100%;
  border: 1px solid #53301F;
  width: 40vw;
  // top: 917px;
  padding: 1%;
  margin-bottom: 10%;
  border-radius: 3px;
  background-color: white;
  // overflow: scroll;
  // height: 400px;
}

.hidden {
  display: none;
}

// recipe form
.recipe-form-container {
  // border: 1px solid black;
  // border-radius: 3px;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 40px;
  text-align: center;
  font-size: 16px;
}

.title-textarea {
  width: 80%;
  resize: none;
  border-radius: 3px;
  font-size: 14px;
}

.description-textarea {
  width: 80%;
  height: 100px;
  resize: none;
  border-radius: 3px;
  font-size: 14px;
}

.ingredients-textarea {
  width: 80%;
  height: 250px;
  resize: none;
  border-radius: 3px;
  font-size: 14px;
}

.step-number-label {
  font-size: 12px;
}

.step-textarea {
  width: 80%;
  height: 100px;
  resize: none;
  border-radius: 3px;
  font-size: 14px;
}


// annotation form
  .annotation-form-text {
    width: 100%;
    height: 10vw;
    border-radius: 3px;
    resize: none;
  }

// search
.search-bar {
  position: relative;
  left: auto;
  right: auto;
  width: 30vw;
  border: 1px solid #53301F;
  margin-top: 5px;
  border-radius: 3px;
  background-color: #F8F8F8;
}

.search-bar input {
  // font-weight: 500;
  // font-size: 32px;
  // width: 100%;
  // height: 75px;
  margin-left: 10px;
  border: 0;
  outline: 0;
  background: transparent;
  color: #53301F;
}

.search-listsearch-listreveal {
	background: #F8F8F8;
	// border-bottom: 3px solid black;
	// width: 812px;
  text-color: #53301F;
	position: fixed;
  top: 52px;
	left: 137px;
	padding-left: 2%;
  padding-right: 2%;
  background-color: solid white;
  border-radius: 3px;
  max-height: 50vh;
  overflow: scroll;
  width: 30vw;
  border: 1px solid #53301F;
}

.search-result-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-parameter {
	padding-left: 2%;
  color: #7C7357;
}
